<h2 translate>kct.layout.login.header</h2>

<fieldset>
  <legend translate>kct.layout.login.fastConnection.header</legend>
  <p>
    <button translate class="btn btn-primary" ng-click="loginCtrl.oauthLogin('facebook')">kct.layout.login.fastConnection.facebook</button>
    <button translate class="btn btn-primary" ng-click="loginCtrl.oauthLogin('google')">kct.layout.login.fastConnection.google</button>
    <button translate class="btn btn-primary" ng-click="loginCtrl.oauthLogin('twitter')">kct.layout.login.fastConnection.twitter</button>
  </p>
</fieldset>

<fieldset>
  <legend translate>kct.layout.login.emailConnection.header</legend>
  <form name="loginCtrl.loginForm" ng-submit="loginCtrl.validateForm()">
    <p class="form-group">
      <label for="loginEmail" translate>kct.layout.login.emailConnection.fields.email</label>
      <input id="loginEmail" required name="email" type="email" ng-model="loginCtrl.email" class="form-control" />
    </p>
    <p class="form-group">
      <label for="loginPass" translate>kct.layout.login.emailConnection.fields.password</label>
      <input id="loginPass" required name="pass" type="password" ng-model="loginCtrl.pass" class="form-control" />
    </p>
    <p class="form-group" ng-cloak ng-show="loginCtrl.createMode">
      <label for="loginConfirm" translate>kct.layout.login.emailConnection.fields.confirmPassword</label>
      <input id="loginConfirm" name="confirm" type="password" ng-model="loginCtrl.confirm" class="form-control" />
    </p>

    <p>
      <button translate class="btn btn-primary" ng-click="loginCtrl.passwordLogin(loginCtrl.email, loginCtrl.pass)" ng-if="!loginCtrl.createMode">kct.layout.login.emailConnection.buttons.login</button>
      <button translate class="btn btn-default" ng-click="loginCtrl.createMode = true" ng-if="!loginCtrl.createMode">kct.layout.login.emailConnection.buttons.register</button>
      <button translate class="btn btn-primary" ng-cloak ng-if="loginCtrl.createMode"
              ng-click="loginCtrl.createAccount(loginCtrl.email, loginCtrl.pass, loginCtrl.confirm)">kct.layout.login.emailConnection.buttons.create</button>
      <button translate class="btn btn-default" ng-cloak ng-if="loginCtrl.createMode" ng-click="loginCtrl.createMode = false">kct.layout.common.cancel</button>
    </p>
  </form>
  <p ng-show="loginCtrl.err" class="bg-danger">{{loginCtrl.err}}</p>
</fieldset>
