<h2>Login Page</h2>

<fieldset>
  <legend>Fast connection</legend>
  <p>
    <button class="btn btn-primary" ng-click="loginCtrl.oauthLogin('facebook')">Facebook</button>
    <button class="btn btn-primary" ng-click="loginCtrl.oauthLogin('google')">Google</button>
    <button class="btn btn-primary" ng-click="loginCtrl.oauthLogin('twitter')">Twitter</button>
  </p>
</fieldset>

<fieldset>
  <legend>Email</legend>
  <form name="loginCtrl.loginForm" ng-submit="loginCtrl.validateForm()">
    <p class="form-group">
      <label for="loginEmail">email</label>
      <input id="loginEmail" required name="email" type="email" ng-model="loginCtrl.email" class="form-control" />
    </p>
    <p class="form-group">
      <label for="loginPass">password</label>
      <input id="loginPass" required name="pass" type="password" ng-model="loginCtrl.pass" class="form-control" />
    </p>
    <p class="form-group" ng-cloak ng-show="loginCtrl.createMode">
      <label for="loginConfirm">confirm pass</label>
      <input id="loginConfirm" name="confirm" type="password" ng-model="loginCtrl.confirm" class="form-control" />
    </p>

    <p>
      <button class="btn btn-primary" ng-click="loginCtrl.passwordLogin(loginCtrl.email, loginCtrl.pass)" ng-if="!loginCtrl.createMode">Log In</button>
      <button class="btn btn-default" ng-click="loginCtrl.createMode = true" ng-if="!loginCtrl.createMode">Register</button>
      <button class="btn btn-primary" ng-cloak ng-if="loginCtrl.createMode"
              ng-click="loginCtrl.createAccount(loginCtrl.email, loginCtrl.pass, loginCtrl.confirm)">Create Account</button>
      <button class="btn btn-default" ng-cloak ng-if="loginCtrl.createMode" ng-click="loginCtrl.createMode = false">Cancel</button>
    </p>
  </form>
  <p ng-show="loginCtrl.err" class="bg-danger">{{loginCtrl.err}}</p>
</fieldset>
