.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > [class^="col-"],
  > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

table[kct-table] tbody tr.filler {
  height: 33px;
}

.notify-save {
  color : green;
}

.in-select-lang-img {
  float: right;
  margin-top: 17px;
}
