table[kct-table] tbody tr.filler {
  height: 33px;
}

.in-select-lang-img {
  float: right;
  margin-top: 17px;
}

md-data-table-container td[md-table-cell] a.md-button {
  min-height: 30px; 
  height:auto !important; 
  height: 30px; 
  line-height: 30px;
}
