<div class="header layout-header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="kct.home">KerbalCoolTools</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-repeat="(stateName, state) in layoutCtrl.leftHeaderStates"
              ng-class="{active : layoutCtrl.isCurrentState(stateName), dropdown : state.subStates}"
              ng-if="layoutCtrl.userHasAuthRights(state)">
            <a ui-sref="{{stateName}}" ng-if="!state.subStates">
              {{state.label}}
              <span ng-if="state.args">({{state.args}})</span>
            </a>
            <a ng-if="state.subStates" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{state.label}}&nbsp;<span class="caret"></span>
            </a>
            <ul ng-if="state.subStates" class="dropdown-menu">
              <li ng-repeat="(subStateName, subState) in state.subStates"
                  ng-class="{active : layoutCtrl.isCurrentState(subStateName)}">
                <a ui-sref="{{subStateName}}">
                  {{subState.label}}
                  <span ng-if="subState.args">({{subState.args}})</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="(stateName, state) in layoutCtrl.rightHeaderStates"
              ng-class="{active : layoutCtrl.isCurrentState(stateName)}"
              ng-if="layoutCtrl.userHasAuthRights(state)">
            <a ui-sref="{{stateName}}">
              {{state.label}}
              <span ng-if="state.args">({{state.args}})</span>
            </a>
          </li>
          <li class="li-logout">
            <button ng-click="layoutCtrl.logout()" class="btn btn-danger navbar-btn" ng-show-auth>Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" ui-view></div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team and Firebase</p>
  </div>
</div>
