<div class="header layout-header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only" translate>kct.layout.header.toggleNavigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="visible-xs-block select-wrapper-sm">
          <ui-select on-select="layoutCtrl.changeLang($item, $model)" ng-model="layoutCtrl.selectedLang">
            <ui-select-match placeholder="{{'kct.layout.common.search' | translate}}">
              <img ng-src="images/flags/22x14/{{$select.selected.flag}}.png"></img>
            </ui-select-match>
            <ui-select-choices repeat="langObj.lang as langObj in layoutCtrl.langs | filter: $select.search">
              <span ng-bind-html="langObj.lang | uppercase | highlight: $select.search"></span> - 
              <span ng-bind-html="'kct.layout.languages.' + langObj.lang | translate | highlight: $select.search"></span>
              <img class="select-option-flag pull-right" ng-src="images/flags/22x14/{{langObj.flag}}.png"></img>
            </ui-select-choices>
          </ui-select>
        </div>

        <a class="navbar-brand" ui-sref="kct.home" translate>kct.layout.common.appName</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-repeat="(stateName, state) in layoutCtrl.leftHeaderStates"
              ng-class="{active : layoutCtrl.isCurrentState(stateName), dropdown : state.subStates}"
              ng-if="layoutCtrl.userHasAuthRights(state)">
            <a ui-sref="{{stateName}}" ng-if="!state.subStates">
              <span translate>{{state.labelKey}}</span>
              <span ng-if="state.args">({{state.args}})</span>
            </a>
            <a ng-if="state.subStates" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span translate>{{state.labelKey}}</span>&nbsp;<span class="caret"></span>
            </a>
            <ul ng-if="state.subStates" class="dropdown-menu">
              <li ng-repeat="(subStateName, subState) in state.subStates"
                  ng-class="{active : layoutCtrl.isCurrentState(subStateName)}">
                <a ui-sref="{{subStateName}}">
                  <span translate>{{subState.labelKey}}</span>
                  <span ng-if="subState.args">({{subState.args}})</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs">
            <ui-select on-select="layoutCtrl.changeLang($item, $model)" ng-model="layoutCtrl.selectedLang">
              <ui-select-match placeholder="{{'kct.layout.common.search' | translate}}">
                <img ng-src="images/flags/22x14/{{$select.selected.flag}}.png"></img>
              </ui-select-match>
              <ui-select-choices repeat="langObj.lang as langObj in layoutCtrl.langs | filter: $select.search">
                <span ng-bind-html="langObj.lang | uppercase | highlight: $select.search"></span> - 
                <span ng-bind-html="'kct.layout.languages.' + langObj.lang | translate | highlight: $select.search"></span>
                <img class="select-option-flag pull-right" ng-src="images/flags/22x14/{{langObj.flag}}.png"></img>
              </ui-select-choices>
            </ui-select>
          </li>
          <li ng-repeat="(stateName, state) in layoutCtrl.rightHeaderStates"
              ng-class="{active : layoutCtrl.isCurrentState(stateName)}"
              ng-if="layoutCtrl.userHasAuthRights(state)">
            <a ui-sref="{{stateName}}">
              <span translate>{{state.labelKey}}</span>
              <span ng-if="state.args">({{state.args}})</span>
            </a>
          </li>
          <li class="li-logout">
            <button ng-click="layoutCtrl.logout()" class="btn btn-danger navbar-btn" ng-show-auth translate>kct.layout.header.logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" ncy-breadcrumb></div>

<div class="container" ui-view></div>

<div class="footer">
  <div class="container">
    <p>{{'kct.layout.footer.text' | translate}}</p>
  </div>
</div>
