@import "../app/kctMain/layout/profile/profile.scss";
@import "../app/kctMain/layout/saveManager/saveManager.scss";

.layout-header {
  .li-logout {
    padding-left: 10px;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > [class^="col-"],
  > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

table[kct-table] tbody tr.filler {
  height: 33px;
}
