body.save-manager .mod-versions-details {
  .desc-field {
    resize: none;
    height: 145px;
  }

  .return-label {
    margin-bottom: 15px;
  }

  .notify-save {
    color : green;
  }

  .mod-versions-table {
    margin-top: 10px;
  }

  .item-per-page {
    margin-top: 10px;
  }
}
