body.profile {
  .notify-save {
    color : green;
  }
  .my-messages {
    transition: 0.5s ease all;
    color : red;

    &.ng-active {
      margin-top : 5px;
      opacity    : 1;
    }

    &.ng-inactive {
      margin-top : 0px;
      opacity    : 0;
    }
  }
  .my-message {
    transition: 0.5s ease all;

    &.ng-enter {
      opacity: 0;

      &.ng-enter-active {
        opacity: 1;
      }
    }


    &.ng-leave {
      opacity: 1;
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }
}
