<h2 translate>kct.layout.profile.publicData</h2>
<form name="profileCtrl.profileForm" ng-submit="profileCtrl.saveProfile()">
  <div>
    <md-input-container class="md-icon-float md-block">
      <label for="loginName"><span translate>kct.layout.profile.fields.name</span></label>
      <ng-md-icon icon="person"></ng-md-icon>
      <input id="loginName" label="loginName" name="loginName" type="text" ng-model="profileCtrl.profile.nickname" required/>
    </md-input-container>
  </div>
  <h2 translate>kct.layout.profile.privateData</h2>
  <div layout="" layout-sm="column">
    <md-input-container class="md-icon-float md-block" flex>
      <label for="loginEmail"><span translate>kct.layout.common.fields.email</span></label>
      <ng-md-icon icon="email"></ng-md-icon>
      <input id="loginEmail" label="loginEmail" name="loginEmail" type="email" ng-model="profileCtrl.profilePrivateInfos.email" ng-disabled="profileCtrl.userAuth.provider === 'password'" />
    </md-input-container>
    <md-switch id="loginName" ng-model="data.cb1" aria-label="Switch 1" class="md-block" disabled>
      <span translate>kct.layout.profile.makePublic</span>
    </md-switch>
  </div>
  <md-button class="md-raised md-primary" ng-disabled="profileCtrl.profileForm.$invalid"><span translate>kct.layout.common.save</span></md-button>
</form>
