<md-card class="mod-list" layout-padding="">

  <md-data-table-toolbar ng-show="!modsCtrl.isSearch">
    <h2 class="md-headline" translate>kct.layout.saveManager.mods.list.header</h2>
    <div flex></div>
    <md-button
      ng-click="modsCtrl.isSearch = true"
      ng-class="{
        'md-fg': modsCtrl.tableConfig.query.length,
        'md-accent': modsCtrl.tableConfig.query.length}"
      class="md-icon-button"
      aria-label="Filter">
      <ng-md-icon icon="filter_list" ></ng-md-icon>
    </md-button>
  </md-data-table-toolbar>

  <md-data-table-toolbar ng-show="modsCtrl.isSearch">
    <ng-md-icon icon="search"></ng-md-icon>
    <md-input-container flex>
      <label translate>kct.layout.common.search</label>
      <input ng-model="modsCtrl.tableConfig.query" ng-change="modsCtrl.onQueryChange()" type="text" />
    </md-input-container>
    <md-button ng-click="modsCtrl.isSearch = false" class="md-icon-button" aria-label="Close filter">
      <ng-md-icon icon="close"></ng-md-icon>
    </md-button>
  </md-data-table-toolbar>

  <span class="md-caption"><span translate translate-values="{count : modsCtrl.tableConfig.totalItems || 0}">kct.layout.common.resultCount</span> <a ui-sref="kct.saveManager.mod.creation({modId : modsCtrl.creationKey})" ng-if="modsCtrl.tableConfig.totalItems === 0" translate>kct.layout.saveManager.mods.list.fastAdd</a></span>

  <md-data-table-container>
    <table md-data-table>
      <thead md-order="modsCtrl.tableConfig.order" md-trigger="modsCtrl.onQueryChange">
        <tr>
          <th name-key="kct.layout.common.fields.title" order-by="title"></th>
          <th name-key="kct.layout.common.fields.details"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mod in modsCtrl.tableMods">
          <td>{{mod.title}}</td>
          <td>
            <md-button ui-sref="kct.saveManager.mod.details({modId : mod.$id})" class="md-raised"><span translate>kct.layout.common.details</span></md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>

  <md-data-table-pagination
    md-limit="modsCtrl.tableConfig.limit"
    md-page="modsCtrl.tableConfig.page"
    md-total="{{modsCtrl.tableConfig.totalItems}}"
    md-trigger="modsCtrl.onQueryChange"
    md-row-select="[5, 10, 20, 50]">
  </md-data-table-pagination>

  <div layout="row">
    <md-button ui-sref="kct.saveManager.mod.creation({modId : modsCtrl.creationKey})" class="md-primary md-raised" flex="50" flex-sm="100"><span translate>kct.layout.saveManager.mods.list.addMod</span></md-button>
  </div>
</md-card>
