<div class="mod-list">
  <h2 class="md-display-1" translate>kct.layout.saveManager.mods.list.header</h2>
  <div layout="row" layout-sm="column">
    <div flex="50" flex-sm="100" layout="row">
      <ng-md-icon icon="search"></ng-md-icon>
      <md-input-container flex>
        <label translate>kct.layout.common.search</label>
        <input ng-model="modsCtrl.tableConfig.query" ng-change="modsCtrl.onQueryChange(modsCtrl.tableConfig.query)" type="text" />
      </md-input-container>
    </div>
  </div>
  <md-data-table-container>
    <table md-data-table>
      <caption class="md-caption"><span translate translate-values="{count : modsCtrl.tableConfig.totalItems || 0}">kct.layout.common.resultCount</span> <a ui-sref="kct.saveManager.mod.creation({modId : modsCtrl.creationKey})" ng-if="modsCtrl.tableConfig.totalItems === 0" translate>kct.layout.saveManager.mods.list.fastAdd</a></caption>
      <thead md-order="modsCtrl.tableConfig.order" md-trigger="modsCtrl.onQueryChange">
        <tr>
          <th name-key="kct.layout.common.fields.title" order-by="title"></th>
          <th name-key="kct.layout.common.fields.desc"></th>
          <th name-key="kct.layout.common.fields.details"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mod in modsCtrl.tableMods">
          <td>{{mod.title}}</td>
          <td>{{mod.desc}}</td>
          <td>
            <md-button ui-sref="kct.saveManager.mod.details({modId : mod.$id})" class="md-primary md-raised"><span translate>kct.layout.common.details</span></md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>
  <md-data-table-pagination
    md-limit="modsCtrl.tableConfig.limit"
    md-page="modsCtrl.tableConfig.page"
    md-total="{{modsCtrl.tableConfig.totalItems}}"
    md-trigger="modsCtrl.onQueryChange">
  </md-data-table-pagination>
  <div flex="50" flex-sm="100" layout="row">
    <md-button ui-sref="kct.saveManager.mod.creation({modId : modsCtrl.creationKey})" class="md-primary md-raised" flex><span translate>kct.layout.saveManager.mods.list.addMod</span></md-button>
  </div>
</div>
