<div class="mod-versions-list">
  <a ui-sref="kct.saveManager.modDetail({modId : modVersionsListCtrl.mod.$id})"><span class="glyphicon glyphicon-chevron-left return-label"></span>&nbsp;<span translate>kct.layout.saveManager.mods.details.modVersions.list.return</span></a>
  <fieldset class="row no-gutters">
    <legend translate translate-values="{modTitle : modVersionsListCtrl.mod.title}">kct.layout.saveManager.mods.details.modVersions.list.header</legend>
    <form class="form-inline col-xs-12">
      <div class="form-group">
        <label translate>kct.layout.common.search</label>
        <input ng-model="modVersionsListCtrl.customQuery" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label translate>kct.layout.common.fields.modsPerPage</label>
        <select ng-model="modVersionsListCtrl.tableConfig.itemsPerPage" ng-options="option as option for option in [1, 2, 5, 10, 20, 50]" class="form-control"></select>
      </div>
    </form>
    <table kct-table
           kct-table-paginated
           kct-table-list="modVersionsListCtrl.filteredModVersions"
           kct-table-config="modVersionsListCtrl.tableConfig"
           class="table table-striped table-condensed table-responsive">
      <caption translate translate-values="{count : modVersionsListCtrl.filteredModVersions.length || 0}">kct.layout.common.resultCount</caption>
      <thead></thead>
      <tbody>
        <td kct-table-title-key="kct.layout.common.fields.version" kct-table-attribute="$id" kct-table-sortable kct-table-initial-sorting="desc">
          {{item.$id | replaceChars:'_':'.'}}
        </td>
        <td kct-table-implicit kct-table-attribute="desc" kct-table-sortable kct-table-title-key="kct.layout.common.fields.desc"></td>
        <td kct-table-implicit kct-table-attribute="depsLength" kct-table-title-key="kct.layout.common.fields.knownDeps"></td>
        <td kct-table-title-key="kct.layout.common.fields.details">
          <a ui-sref="kct.saveManager.modVersionDetails({modId : modVersionsListCtrl.mod.$id, modVersionId : item.$id})" class="btn btn-primary btn-xs" role="button" translate>kct.layout.common.details</a>
        </td>
      </tbody>
    </table>
    <div class="col-sm-12">
      <kct-table-pagination kct-table-config="modVersionsListCtrl.tableConfig" rotate="false" boundary-links="true"></kct-table-pagination>
    </div>
    <div class="col-sm-6">
      <a ui-sref="kct.saveManager.modVersionDetails({modId : modVersionsListCtrl.mod.$id, modVersionId : modVersionsListCtrl.creationKey})" class="btn btn-primary btn-block" translate>kct.layout.saveManager.mods.details.modVersions.list.add</a>
    </div>
  </fieldset>
</div>
