<div class="mod-details">
  <a ui-sref="kct.saveManager.mods"><span class="glyphicon glyphicon-chevron-left return-label"></span>&nbsp;Return to list</a>
  <fieldset>
    <legend ng-if="modDetailsCtrl.isCreation()">Mod creation</legend>
    <legend ng-if="!modDetailsCtrl.isCreation()">Mod details : {{modDetailsCtrl.mod.title}}</legend>
    <form class="form-horizontal col-sm-6" ng-submit="modDetailsCtrl.formAction()">
      <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input ng-model="modDetailsCtrl.mod.title" type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea ng-model="modDetailsCtrl.mod.desc" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-if="modDetailsCtrl.isCreation()" type="submit" class="btn btn-primary">Create mod</button>
          <button ng-if="!modDetailsCtrl.isCreation()" type="submit" class="btn btn-primary">Edit mod</button>
          <span class="glyphicon glyphicon-ok notify-save" ng-if="modDetailsCtrl.saved"></span>
        </div>
      </div>
    </form>
    <div class="col-sm-6">
      <h4 class="col-sm-6">Last registered versions</h4>
      <div class="col-sm-6">
        <a ui-sref="kct.saveManager.modVersions(({modId : modDetailsCtrl.mod.$id}))" class="btn btn-block btn-default">Manage versions</a>
      </div>
      <table kct-table
             kct-table-paginated
             kct-table-list="modDetailsCtrl.modVersions"
             kct-table-config="modDetailsCtrl.tableConfig"
             class="table table-striped table-condensed table-responsive table-bordered col-md-12 modVersions-table">
        <thead>
          <tr>
            <th kct-table-attribute="version">
              Version
              <span class="glyphicon glyphicon-chevron-down pull-right"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td kct-table-attribute="version">{{item.$id | replaceChars:'_':'.'}}</td>
            <td kct-table-implicit kct-table-attribute="desc" kct-table-title="Description"></td>
            <td kct-table-title="Known dependencies">{{item.deps | length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
