<div class="mod-details">
  <a ui-sref="kct.saveManager.mods"><span class="glyphicon glyphicon-chevron-left return-label"></span>&nbsp;<span translate>kct.layout.saveManager.mods.details.return</span></a>
  <fieldset>
    <legend translate translate-values="{modTitle : modDetailsCtrl.mod.title}">kct.layout.saveManager.mods.details.edition.header</legend>
    <form class="form-horizontal col-sm-6" ng-submit="modDetailsCtrl.editMod()">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="modTitle" translate>kct.layout.common.fields.title</label>
        <div class="col-sm-9">
          <input ng-model="modDetailsCtrl.mod.title" type="text" class="form-control" id="modTitle" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="modDesc" translate>kct.layout.common.fields.desc</label>
        <div class="col-sm-9">
          <textarea ng-model="modDetailsCtrl.mod.desc" class="form-control desc-field" id="modDesc"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" translate>kct.layout.saveManager.mods.details.edition.buttons.edit</button>
          <span class="glyphicon glyphicon-ok notify-save" ng-if="modDetailsCtrl.saved" translate></span>
          <button ng-click="modDetailsCtrl.deleteMod()" type="button" class="btn btn-danger pull-right" translate>kct.layout.saveManager.mods.details.edition.buttons.delete</button>
        </div>
      </div>
    </form>
    <div class="col-sm-6">
      <h4 class="col-sm-6" translate>kct.layout.saveManager.mods.details.edition.versions.header</h4>
      <div class="col-sm-6">
        <a ui-sref="kct.saveManager.mod.versions(({modId : modDetailsCtrl.mod.$id}))" class="btn btn-block btn-default" translate>kct.layout.saveManager.mods.details.edition.versions.manage</a>
      </div>
      <table kct-table
             kct-table-paginated
             kct-table-list="modDetailsCtrl.modVersions"
             kct-table-config="modDetailsCtrl.tableConfig"
             class="table table-striped table-condensed table-responsive table-bordered col-md-12 mod-versions-table">
        <thead>
          <tr>
            <th kct-table-attribute="$id">
              <span translate>kct.layout.common.fields.version</span>
              <span class="glyphicon glyphicon-chevron-down pull-right"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td kct-table-attribute="$id">
              {{item.$id | replaceChars:'_':'.'}}
            </td>
            <td kct-table-implicit kct-table-attribute="desc" kct-table-title-key="kct.layout.common.fields.desc"></td>
            <td kct-table-implicit kct-table-attribute="depsLength" kct-table-title-key="kct.layout.common.fields.knownDeps"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
