<div class="save-details" layout="column">
  <div layout="row">
    <md-button class="md-primary" ui-sref="kct.saveManager.saves" flex="initial" layout-align="left center">
      <ng-md-icon icon="chevron_left"></ng-md-icon>
      <span translate>kct.layout.saveManager.saves.details.return</span>
    </md-button>
  </div>
  <div layout="row" layout-sm="column">
    <md-card flex="{{saveDetailsCtrl.getDetailsFlex()}}"
             flex-sm="100"
             layout="row"
             layout-padding=""
             layout-align="center center"
             loading-spinner="savesDetailsLoad">
      <div flex>
        <h2 class="md-headline" ng-cloak ng-if="!saveDetailsCtrl.isCreation()" translate translate-values="{saveTitle : saveDetailsCtrl.save.title || ''}">kct.layout.saveManager.saves.details.edition.title</h2>
        <h2 class="md-headline" ng-cloak ng-if="saveDetailsCtrl.isCreation()" translate>kct.layout.saveManager.saves.details.creation.title</h2>
        <md-divider></md-divider>
        <div layout="row" layout-sm="column" layout-margin="" flex>
          <form ng-submit="saveDetailsCtrl.formAction()" flex flex-sm="100" name="saveDetailsCtrl.saveForm">
            <md-input-container smart-field>
              <label for="saveTitle"><span translate>kct.layout.common.fields.title</span></label>
              <input id="saveTitle" required name="saveTitle" type="text" ng-model="saveDetailsCtrl.save.title" />
            </md-input-container>
            <md-input-container>
              <label for="saveKspVersion"><span translate>kct.layout.common.fields.author</span></label>
              <input id="saveKspVersion" disabled name="saveKspVersion" type="text" ng-model="saveDetailsCtrl.save.$authorName" />
            </md-input-container>
            <md-input-container smart-field>
              <label for="saveKspVersion"><span translate>kct.layout.common.fields.kspVersion</span></label>
              <input id="saveKspVersion" required name="saveKspVersion" type="text" ng-model="saveDetailsCtrl.save.kspVersion" />
            </md-input-container>
            <md-input-container>
              <label for="saveDesc"><span translate>kct.layout.common.fields.desc</span></label>
              <textarea id="saveDesc" rows="3" name="saveDesc" type="text" ng-model="saveDetailsCtrl.save.desc"></textarea>
            </md-input-container>
            <div layout="row"
                 layout-wrap=""
                 loading-spinner="savesDetailsLoadFile"
                 layout-align="center center">
              <div layout="row" flex-gt-sm="" flex-sm="100">
                <md-input-container flex>
                  <label for="saveFile"><span translate>kct.layout.common.fields.saveFile</span></label>
                  <input id="saveFile" name="saveFile" type="text" ng-model="saveDetailsCtrl.saveFile.name" disabled />
                </md-input-container>
                <md-input-container>
                  <md-button type="button"
                             class="md-icon-button"
                             ng-click="saveDetailsCtrl.clearSaveFile()"
                             ng-if="saveDetailsCtrl.saveFile.name.length"
                             aria-label="Clear save file">
                    <ng-md-icon icon="close"></ng-md-icon>
                  </md-button>
                </md-input-container>
              </div>
              <div layout="row" flex-sm="100">
                <md-input-container flex-sm="">
                  <md-button choose-file-button="file-input"
                             class="md-raised"
                             type="button"
                             aria-label="file input">
                    <ng-md-icon icon="file_upload"></ng-md-icon>
                    <span translate>kct.layout.common.buttons.upload</span>
                  </md-button>
                </md-input-container>
                <md-input-container ng-show="saveDetailsCtrl.saveFile.name.length" flex="initial" flex-sm="">
                  <md-button ng-disabled="saveDetailsCtrl.fileChanged" class="md-raised" type="button" ng-click="saveDetailsCtrl.downloadFile()" aria-label="Download">
                    <div loading-spinner="savesDetailsDownload">
                      <ng-md-icon icon="file_download"></ng-md-icon>
                      <md-tooltip ng-if="saveDetailsCtrl.fileChanged">
                        <span translate>kct.layout.saveManager.saves.details.edition.saveFirst</span>
                      </md-tooltip>
                    </div>
                  </md-button>
                </md-input-container>
              </div>
            </div>
            <div layout="row">
              <md-input-container flex="50">
                <md-button class="md-raised md-primary">
                  <div loading-spinner="savesDetailsSave">
                    <span translate>kct.layout.common.save</span>
                  </div>
                </md-button>
              </md-input-container>
              <md-input-container flex="50" ng-if="!saveDetailsCtrl.isCreation()">
                <md-button type="button" ng-click="saveDetailsCtrl.deleteSave()" class="md-raised md-warn">
                  <div loading-spinner="savesDetailsDelete">
                    <span translate>kct.layout.common.remove</span>
                  </div>
                </md-button>
              </md-input-container>
            </div>
            <input id="file-input" type="file" ngf-select="saveDetailsCtrl.uploadSaveFile($files)" name="file" style="display:none;" />
          </form>
        </div>
      </div>
    </md-card>
  </div>
</div>
